body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

@keyframes blink {
  from { stroke: rgb(0, 255, 0);}
  to { stroke: rgba(0, 255, 0, 0) ;}
}

.anim {
  position: relative;
  width: 50%;
}

.anim svg {
  position: relative;
  width: 100%;
}

polyline.unsc {
  animation-name: blink;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

h1 {
  font-family: monospace;
  font-size: 35px;
  color: rgb(0, 255, 0);
}